/* Animation key frames for horizontal scrolling of alert */
@keyframes alert-scrolling-text {
  from { margin-left: 100%; }
  to {  margin-left: -300% }
}

.horizontal-scroll-animation {
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-name: alert-scrolling-text;
}

/* ALERT BACKGROUND STYLING */
.bg-default {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 0%;
  overflow: hidden;
  visibility:hidden;
}

.bg-default.middle {
  top: 50%;  
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  bottom: initial;
}

.bg-default.top {
  top: 0;
  bottom: initial;
}

.bg-default.bottom {
  top: initial;
  bottom: 0;
}

/* ALERT BACKGROUND STYLING */
#alert {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 12;
  overflow: visible;
  white-space: nowrap;
  color: #ffffff;
  visibility: hidden;
}

.no-scroll {
  margin: 0 20px;
}